<!DOCTYPE html>
<html>
  <head>
    <title>{%- block title -%}Maynard's Site{%- endblock -%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css">
    <!--
      <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 480px)" href="/assets/css/global-mobile.css">
    -->
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    {%- block head -%} {%- endblock -%}
  </head>
  <body>
    <div id="header" class="vert-center">
      <a href="/" class="vert-center">
        Maynard's Site
        &nbsp;
        <img src="/assets/favicon.ico">
        &nbsp;
      </a>
      {# TODO: The following render code is moist #}
      {%- for item in top_level_items -%}
        <a href="{$ item.computed_href $}">{$ item.title $}</a>
      {%- endfor -%}
      {%- for node in item_tree recursive -%}
        <div class="{$ 'nested-dropdown' if loop.depth0 != 0 else 'dropdown' $}">
          <span class="tag label">{$ node.tag $}</span>
          <div class="contents">
            {%- for item in node['items'] -%} {# `node.items` causes a crash for some reason #}
              <a href="{$ item.computed_href $}">{$ item.title $}</a>
            {%- endfor -%}
            {$ loop(node.children) $}
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div id="content">
      {%- block content -%} {%- endblock -%}
    </div>
  </body>
</html>
