
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather')

//
// About components.
//
// I use the following convention for components:
//
//   1) Components may use IDs, but classes are preferred
//
//   2) The class name of a component must begin with a
//      backslash. CSS requires escaping backslashes, so
//      this is spelled '\\'
//
//   3) Subcomponents are namespaced by their supercomponent
//      and separated by another backslash. For example, say
//      I have a 'figure' component which is comprised of
//      an image and a caption. Then the figure component
//      would get the class name '\figure', the image would
//      get the class name '\figure\image', and the caption
//      would get the class name '\figure\caption'. The
//      markup would look something like:
//
//        <div class="\figure">
//          <img class="\figure\image" src="..." />
//          <p class="\figure\caption"> ... </p>
//        </div>
//
//   4) Customization/extensibility is done with classes
//      that begin with two hyphens. So if there's a concept
//      of a 'big figure' and a 'small figure', this would
//      be achieved with the use of the classes '--big'
//      and '--small', respectively. So a 'big figure'
//      would be:
//
//        <div class="\figure --big"> ... </div>
//

//
// TODO:
// This is a good starting CSS convention. Current issues:
//
// 1) It's not quite clear /exactly/ what a component is.
//    I think it should be defined as either (1) a custom class
//    or (2) a custom ID or (3) a semantic HTML element such
//    that it has specially-defined interactions (with e.g.
//    a subcomponent). So the fact that .\figure interacts
//    with both .\figure\image and .\figure\caption is what
//    makes it a component. And the fact that <li> and <ol>
//    interact specially with <li> is what makes them
//    components.
//
// 2) I think the rule should be added that ONLY components
//    are allowed to have special interaction.
//
// 3) There's a certain case here where it's unclear how to
//    proceed. Say I have a component .\column which is the
//    full width of the page, but limits all of its children
//    to a prescribed width in order to mimic being a column.
//    But it wants to allow some chldren to 'opt out' and
//    take up the full width of the page.
//    We could include e.g. a class .--fullwidth that would
//    be placed on said children. The issue with this is that
//    it's not clear that .--fullwidth is interacting with
//    the .\column. In fact, if I read:
//
//      <div class="\column">
//        <div class="\figure --fullwidth"> ... </div>
//      </div>
//
//    then it's far more natural to expect that the .--fullwidth
//    is interacting with the \figure.
//    One solution is to require that all non-full-width childrne
//    be a subcomponent, e.g. .\column\child. But it's a pain to
//    mark every single component. Alternatively, the opting out
//    could be via the subcomponent .\column\fullwidth. But the
//    issue is that the childrn aren't /really/ subcomponents,
//    so treating them as so would be misleading. I think something
//    along the lines of a .\column\--fullwidth class is in order,
//    but the semantics need to be ironed out.
//


// ==== Parameters ==== //

$dark: black
$offdark: #555
$grey: #ccc

// The majority of the website is confined
// to a column in the middle of the page
$column-width: 650px
$column-padding: 25px // padding on the sides


// ==== Ingredients ==== //

// These classes are not meant to be used on their
// own but rather meant to be @extend-ed
// To mark them, they must begin with an underscore

._slab
  // Add a subtle border, shadow, and border-radius
  border: 1px solid $grey
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 4px rgba(0, 0, 0, 0.05)
  border-radius: 3px




// ==== Initial Styles ==== //

// This section is for styling that
// has little to no interaction between elements
// and little to no use of classes or ids

*
  box-sizing: border-box

body
  line-height: 1.6em
  font-size: 14px
  font-family: Merriweather
  color: $dark

  min-height: 100vh

h1, h2, h3, h4, h5, h6
  font-family: Lato, sans-serif
  margin-top: 1.75em
  margin-bottom: 1em

h1
  font-size: 2.2em

blockquote
  font-style: italic
  border-left: 1px solid $dark
  padding-left: 2em

a
  text-decoration: none
  color: inherit

code
  background-color: rgb(20, 20, 20)
  color: white
  padding: 2px 4px
  font-size: .9em
  border-radius: 2px
  line-height: 1.5

hr
  margin: 2em 0
  border: 0
  height: 1px
  background-color: $grey


// -- Tables -- //

table
  border-collapse: collapse
  border: 1px solid $grey

  &.--sticky-headers th
    position: sticky
    top: -1px  // Because 1px border
    z-index: 1  // work properly with MathJax

th
  background-color: rgb(240, 240, 240)
  border-bottom: 1px solid $grey

td, th
  padding: 8px 16px
  border-left: 1px solid $grey

tr
  border-bottom: 1px solid $grey


// -- Inputs -- //

input, button, textarea
  padding: 5px 7px
  border-radius: 2px
  border: 1px solid $grey
  color: $dark
  background: white
  &:focus, &:hover
    outline: none
    border-color: $offdark

input, button
  &:hover
    cursor: pointer

button
  border: none
  background: $dark
  color: white

input[type=color]
  padding: 0px

input[type=range]
  padding: 0px
  height: 1em




// ==== Components ==== //


// -- #\content -- //

#\\content
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  align-items: center
  padding: 0 $column-padding 200px $column-padding

  > *:not(.--fullwidth):not(img):not(.\figure)
    max-width: $column-width
    box-sizing: border-box
    width: 100%

  > ol, > li
    padding-left: 30px

#\\content, note-def
  // Images are supported in two ways: a plain <img> tag, or
  // A <.figure> <img> <.caption> </.figure>

  img
    padding: 0
    @extend ._slab
    max-width: 100%

    &.--small
      height: 225px
      width: auto

  > img, > .\\figure
    margin: 15px 0

  > .\\figure
    text-align: center

    .\\figure\\caption
      margin: 0 auto
      margin-bottom: 5px
      opacity: 0.7
      font-style: italic
      font-size: 0.9em
      display: block
      max-width: $column-width
      padding: 0

  > .--fullwidth
    max-width: 100%

  a:not(.--plain-link)
    border-bottom: 1px dotted $offdark
    cursor: pointer
    &:hover
      border-bottom-style: solid


// -- <header> -- //

header
  margin-bottom: 30px
  h1, h2, h3, h4, h5, h6
    margin-bottom: 10px
  p
    font-family: Lato
    font-weight: normal
    font-style: italic
    font-size: 15px


// -- .\header -- //

.\\header
  height: 26px
  width: 100%
  padding: 0 $column-padding
  font-size: 0.8em

  display: flex
  justify-content: center

  margin-top: 10px
  border-bottom: 1px solid $grey

  img
    margin-right: 10px

  p
    margin: 0

  a
    padding: 0 10px
    &:hover
      font-weight: bold

.\\header\\middle
  width: $column-width
  display: flex
  justify-content: flex-start
  align-content: center
  align-items: center

.\\header\\title
  display: flex
  align-content: center
  align-items: center


// -- .\tag-selector -- //

.\\tag-selector\\tag-list
  display: flex
  justify-content: left
  flex-wrap: wrap
  align-items: center
  align-content: center

  > *:not(:last-child)
    margin-right: 1em
  > *
    margin-top: 5px
    margin-bottom: 5px

.\\tag-selector\\tag-button
  @extend .tag

  border-radius: 3px
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2)

  &:not(.--disabled)
    cursor: pointer
  &.--disabled
    background-color: rgb(230, 230, 230)

  &:before
    font-family: monospace
  &:not(.--active):before
    content: '+ '
  &.--active:before
    content: '- '
  &:not(.--disabled):hover
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4)
  &.--active
    border-color: black


.\\item
  padding: 0 2em
  @extend ._slab
  display: block

  &.--hidden
    display: none

  &:hover
    border-color: black

  margin: 1em 0
  padding: .5em 2em

  .\\item\\title-and-tags
    display: flex
    justify-content: left
    flex-wrap: wrap
    align-content: center
    align-items: center
    margin: 1em 0

  .\\item\\tag
    &:not(:last-child)
      margin-right: 1em

  .\\item\\title
    margin: 0 1em 0 0

  .\\item\\description


// ==== Misc ==== //

.tag
  display: inline-block
  font-size: 0.8em
  padding: 0 0.7em
  border: 1px solid $grey

.columnwidth
  width: $column-width

.vert-center
  display: flex
  align-content: center
  align-items: center

// Highlighted code
pre > code
  padding: 15px 25px !important
  @extend ._slab

#mailing-list-succ
  color: green
  font-style: italic

#mailing-list-fail
  color: red
  font-style: italic




// ==== Proxies ==== //

.\\proxy-window
  @extend ._slab
  box-sizing: border-box
  margin: 15px 0
  width: $column-width * 2

.\\proxy-window\\iframe
  border: none
  height: 80vh
  width: 100%

.\\proxy-window\\title
  font-weight: bold

.\\proxy-window\\controls
  display: flex
  justify-content: center
  border-bottom: 1px solid $grey

  > *
    padding: 5px 20px
    display: inline-block
    &:not(:last-child)
      border-right: 1px solid $grey

  a:hover
    border-bottom: 1px solid $dark
