// This sass file is designed to overwrite global.sass for proxy files

body
  min-height: 100vh
  
#content
  padding-bottom: 0px
  min-width: 100vw
  max-width: 100vw
  position: relative
  height: 100%
  flex: 1

iframe
  border: none
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
