// This sass file is designed to overwrite global.sass for proxy files
@import "_params.sass"

body
  min-height: 100vh

#iframe-wrap
  box-sizing: border-box
  border: 1px solid $grey
  margin: 15px 0
  width: 100vw
  max-width: $column-width * 2

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

#iframe
  border: none
  height: 80vh
  width: 100%

#iframe-title
  font-weight: bold

#iframe-controls
  display: flex
  justify-content: center
  border-bottom: 1px solid $grey

  > *
    padding: 5px 20px
    display: inline-block
    &:not(:last-child)
      border-right: 1px solid $grey

  a:hover
    border-bottom: 1px solid $dark
