{% extends "templates/base.jinja2" %}

{% block content %}
  {$ super() $}

  <header>
    <h1>Multiply and Surrender</h1>
    <p>Maynard's math and stuff</p>
  </header>

  <div>
    {% for item in items %}
      <p class="metadata-container">
        <span class="metadata">
          {% for tag in item.tags -%}
            <span class="tag">{$ tag $}</span>
          {%- endfor %}
          <span>@{$ item.date $}</span>
        </span>
        <a href="{$ item.href $}">{$ item.title $}</a>
      </p>
    {% endfor %}
  </div>
{% endblock %}

