{% extends "templates/base.jinja2" %}

{% block content %}
  {$ super() $}

  <div>
    <header>
      <h1>Maynard's Site</h1>
      <p>Maynard's math and stuff</p>
    </header>

    <div>
      {% for item in items %}
        <div style="display: flex; justify-content: space-between; margin: 8px 0">
          <span style="text-align: right; display: inline-block; width: 47%"><a href="{$ item.href $}">{$ item.title $}</a></span>
          <span style="display: inline-block" class="metadata"><tt>::</tt></span>
          <span style="display: inline-block; width: 47%" class="metadata">
              <span>@{$ item.date $}</span>
              {% for tag in item.tags -%}
                <span class="tag">{$ tag $}</span>
              {%- endfor %}
          </span>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

