{% extends 'templates/base.jinja2' %}

{% block title %} {$ item.title $} {% endblock %}

{% block head %}
  {% with item=item %}{% include 'includes/requires.jinja2' %}{% endwith %}
{% endblock %}

{% block content %}
<h2>{$ item.title $}</h2>
{$ item.content $}
{% endblock %}
