{# For posts that proxy to other posts via an iframe #}

{% extends "templates/base.jinja2" %}

{% block head %}
{% with item=item %}{% include 'includes/requires.jinja2' %}{% endwith %}
{% endblock %}

{% block content %}

<div class="fullwidth">
  <div id="iframe-wrap">
    <div id="iframe-controls">
      <span id="iframe-title">{$ item.title $}</span>
      <span><a href="{$ target $}">View as full page</a></span>
    </div>
    <iframe id="iframe" src="{$ target $}"></iframe>
  </div>
</div>

<h2>{$ item.title $}</h2>
{$ item.payload $}

{% endblock %}
