{# For posts that proxy to other posts via an iframe #}

{% extends "templates/base.jinja2" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/assets/css/proxy.css">
{% with item=item %}{% include 'includes/requires.jinja2' %}{% endwith %}
{% endblock %}

{% block content %}

<div class="fullwidth" id="iframe-wrap">
  <div id="iframe-controls">
    <span id="iframe-title">{$ item.title $}</span>
    <span><a href="{$ item.target $}">View as full page</a></span>
  </div>
  <iframe id="iframe" src="{$ item.target $}"></iframe>
</div>

<h2>{$ item.title $}</h2>
{$ item.content $}

{% endblock %}
